body{
    background-color: #f7f9fc !important;
}

ul{
    padding-left: 0;
}

ul li {
    color: cadetblue;
    list-style-type: none;
}

a, button{
    transition: .3s;
}


.flex-wrapper {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.main-wrapper {
    min-height: 100vh;
    position: relative;
    display: flex;
    justify-content: space-between;
}

.container {
    width: 1170px;
    height: 100%;
}

.content-wrapper {
    width: 80%;
    margin-left: 20%;
    padding-top: 100px;
    position: relative;
}
