.dialogs-wrapper
  display: flex
  padding: 30px
  justify-content: space-between

  .list-dialogs_wrap
    width: calc(30% - 60px)
    padding: 30px
    border: 2px solid #27414f
    border-radius: 5px

    .item-dialogs_wrap
      border-bottom: 1px solid #27414f

      a
        display: block
        padding: 10px 10px 10px 0
        text-decoration: none
        color: #252525

        &:hover
          background-color: lightgray

        &.active
          color: goldenrod

  .chat-dialogs_wrap
    width: calc(66% - 60px)
    padding: 30px
    border: 2px solid #27414f
    border-radius: 5px

    .item-chat_wrap

      margin-bottom: 10px

      .item-chat
        display: inline-block
        background-color: #fff
        padding: 7px 30px 7px 15px
        border: 1px solid #27414f
        border-radius: 5px

