.dialogs-wrapper
  padding: 30px
  .list-dialogs
    &.__wrap
      width: calc(30% - 60px)
      padding: 30px
      border: 2px solid #27414f
      border-radius: 5px
      .item-dialogs
        &.__wrap
          border-bottom: 1px solid #27414f
          a
            display: block
            padding: 10px 10px 10px 0
            text-decoration: none
            color: #252525
            &:hover
              background-color: lightgray
            &.active
              color: goldenrod

  .chat-dialogs
    &.__wrap
      width: calc(66% - 60px)
      padding-left: 60px
    .messages-dialogs
      &.__wrap
        padding: 30px
        border: 2px solid #27414f
        border-radius: 5px
      .item-chat
        &.__wrap
          margin-bottom: 10px
          display: flex
        &.you
          text-align: right
          justify-content: flex-end
          .__inner-wrap
            padding-right: 30px
            padding-left: 15px
          .__info
            .name
              order: 2
            .time
              order: 1
          p
            text-align: right
        &.person
          text-align: left
          justify-content: flex-start
          .__inner-wrap
            padding-right: 15px
            padding-left: 30px
        &.__inner-wrap
          display: inline-block
          min-width: 200px
          max-width: 60%
          background-color: #fff
          border: 1px solid #27414f
          border-radius: 5px
          padding-top: 10px
          padding-bottom: 10px
        &.__message-wrap
          color: #222
          p
            margin-bottom: 0
        &.__info
          display: flex
          justify-content: space-between
          .name
            margin: 0
          .time
            font-size: 0.875rem

    .write-message
      &.__wrap
        padding: 30px
        box-sizing: border-box
        border: 2px solid #27414f
        margin-top: 10px
        border-radius: 5px
        .field-wrapper
          textarea
            border: 1px solid #27414f
            box-sizing: border-box
            min-width: 100%
            max-width: 100%
            width: 100%
            min-height: 50px
            max-height: 100px
            overflow-y: auto
            background-color: #fff
            border-radius: 5px
            margin-bottom: 5px
            padding: 10px
        
