.todo-page{
  &__wrapper{

  }
  &_form{
    &__wrapper{
      max-width: 600px;
      margin-bottom: 20px;
      @include box-styles;
    }
  }
  &_list{
    &__wrapper{
      max-width: 600px;
      @include box-styles;
    }
  }
  &_item{
    &.__wrapper{
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 10px;
      padding-bottom: 10px;
      border-bottom: 1px solid $border-grey;
      label{
        position: relative;
        cursor: pointer;
      }
    }
    &.__title{
      margin-left: 5px;
    }
  }
}